---
import Layout from '~/layouts/Layout.astro'
import BackgroundBox from '~/components/BackgroundBox.astro'
import Card from '~/components/Card.astro'
---

<Layout title="Welcome to My Homepage." overflow-hidden>
  <BackgroundBox absolute />

  <main
    w="80%"
    h-full
    m-auto
    flex="~ col"
    justify-center
    items-center
    box-border
    overflow-hidden
  >
    <h1>Hello, Ares Chang!</h1>

    <div w-full h-120 grid="~ cols-3" gap-3>
      <Card col-span-2 row-span-2 p0>
        <BackgroundBox>
          <div h-full center>Hello, World!</div>
        </BackgroundBox>
      </Card>

      <Card center>Hello, World!</Card>
      <Card row-span-2 center>Hello, World!</Card>
      <Card row-span-2 center>Hello, World!</Card>
      <Card center>Hello, World!</Card>
      <Card row-span-2 center>Hello, World!</Card>
      <Card row-span-2 center>Hello, World!</Card>
      <Card center>Hello, World!</Card>
    </div>
  </main>
</Layout>
