---
interface Props {
  filter?: boolean | string
  [key: string]: any
}

const { filter = true, ...arg } = Astro.props
---

<div class="group" w-full h-full class:list={[arg]}>
  <div w-full h-full relative>
    <img
      absolute
      top-0
      left-0
      w-full
      h-full
      object-cover
      transition-1000
      group-hover:scale-110
      z--1
      src="/images/bg.jpg"
    />

    <div
      absolute
      top-0
      left-0
      w-full
      h-full
      class={filter
        ? typeof filter === 'string'
          ? filter
          : 'bg-[radial-gradient(rgba(0,0,0,0)_0,rgba(0,0,0,.5)_100%)]'
        : ``}
    >
    </div>

    <slot />
  </div>
</div>
