---
interface Props {
  class?: string
  [key: string]: any
}

const { class: className, ...arg } = Astro.props
---

<div
  w-full
  h-full
  bg="gray-50/20 dark:black/40"
  border="~ solid gray-200/10"
  backdrop-blur
  p-2
  rd-2
  box-border
  overflow-hidden
  transition-600
  hover="scale-102 z-1"
  {...arg}
  class:list={[className, arg]}
>
  <slot />
</div>
