<div
  w-full
  h-full
  bg="black/40"
  border="~ solid gray-200/10"
  backdrop-blur
  p-2
  rd-2
  box-border
  overflow-hidden
  transition-600
  hover="scale-102 z-1"
  class:list={[Astro.props]}
>
  <slot />
</div>
